

.Hed{
    padding: 0 calc((72vw - 1000px) / 2 );
    margin: 0;
    height: 62vh;
    /* background: #79f279; */
    background-image: url(../images/backgraund.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 1.04vh 1.55vh 0px hsla(206, 40%, 22%, 0.2);
}

.BtnCatalog{
    padding: 1.2vh 8.4vh;
    color: #fff;
    background-color: #F2BC79;
    cursor: pointer;
    border: none;
    transition: 0.4s;
    border-radius: 0.375em;
    border: 0.2vh solid #F2BC79;
    font-size: 1.8vh;
    margin-top: 0.5vh;
    margin-left: 1.8vh;
    font-weight: 500;
}

.BtnCatalog:hover{
    color: #F2BC79;
    background-color: #fff;
    border: 0.2vh solid #F2BC79;
}

.PagesTitle{
    font-size: 6vh;
    font-weight: 800;
    padding-top: 17vh;
    margin: 0 1.8vh;
    color: #fff;
}

.PagesParag{
    color: #fff;
    font-size: 2.6vh;
    margin-left: 1.8vh;
}


/* ////////////////////////////////////////////////////////////////// */

.Dignities{
    /* background: #79f279; */
    margin: 4vh 0;
    /* height: 28vh; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}



/* ////////////////////////////////////////////////////////////////// */


.Kurasans{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #79f279; */
    margin: 3vh 0;
    height: 36vh;
    background-image: url(../images/bg_kurasan.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.P1{
    font-size: 5.2vh;
    letter-spacing: 1vh;
    font-weight: 700;
}

/* ////////////////////////////////////////////////////////////////// */

.ContenerCatalog{
    margin: 0;
    padding: 0 20vh;
    /* background: #79f279; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
